@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans+Condensed:300');
body  {
	background-color: #F5F5F5;
}
header {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #ffffff;
	font-size: 1.5em;
}
h1	{
	font-size: 88px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: #333;
}

header li {
	float:right;
}

.categories li {
	color: maroon;
}
li {
	/*float: right;*/
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 10px;
	text-decoration: none;
}
#slogan {
	font-style: italic;
	font-size: 20pt;
	font-weight: bold;
}
p 	{
	color: #808000;
	font-family: 'Droid Serif', serif;
}
img   {
	width: 100%;
}
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.categories{
	text-align: left;
}


